*{
    color: red;
}

p{
    background-color: blue;
    color: whitesmoke;
}

section{
    border: 3px solid black;
    margin: 10px;
    padding: 5px;
}

h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: white;

}

.box{
    font-size: 30px;
}


#fourth{
    background-color: lightgreen;
}

li > a {
    color: green;
}

h1{
    color: red;
}

#mainNav li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #acadee;
    width: 250px;
}

#mainNav li{
    padding: 0.5em;
    border: 1px rgb(240,240,240) solid;
}

#mainNav a {
    min-height: 50px;
    text-decoration: none;
    display: block;
    color: #000;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid hotpink;
    max-width: 600px;
}

th{
    letter-spacing: 2px;
}

td{
    letter-spacing: 1px;
    text-align: center;
}

tfoot td{
    text-align: left;
}

